@{
    Layout = null;
    var departmentId = ViewBag.DepartmentId;
}
@model List<Student_Courses>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Display Student Grades</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        thead, .btn {
            background-color: #901b20;
            color: white;
        }

    </style>
</head>
<body>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Student ID</th>
                <th>Course ID</th>
                <th>Grade</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model)
            {
                <tr>
                    <td>@x.StudentID</td>
                    <td>@x.CourseID</td>
                    <td>@x.Student_Grade</td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-action="DisplayStudentsByDepartmentID" asp-controller="Instructor" asp-route-id="@departmentId" class="btn">Go Back</a>
    
</body>
</html>
