@{
    ViewData["Title"] = "Welcome to ITI";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="text-center">
                <h1 class="display-4">Welcome to ITI</h1>
                <p class="lead">Empowering Skills, Shaping Futures</p>
                <p>At our Industrial Training Institute, we're dedicated to providing quality education and practical training to help you succeed in your career.</p>
                <p>Explore our range of courses and discover opportunities to learn and grow.</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center ">
        <div class="col-md-8 w-auto d-flex justify-content-center align-content-center">
            <img class="w-75" src="/lib/itistd.jpg" class="img-fluid" alt="Your Photo">
        </div>
    </div>
</div>